@model Charity.Mvc.Models.Db.Donation

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

<h1>View</h1>

<div>
    <h4>Donation</h4>
    <hr />
    <form asp-action="ChangeStatus" asp-controller="Donation">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Id)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Id)
                <input type="hidden" asp-for="Id" />
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Quantity)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Quantity)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Institution.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Institution.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Status)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Status)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Street)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Street)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.City)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.City)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ZipCode)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ZipCode)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PickUpDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PickUpDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PickUpTime)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PickUpTime)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PickUpComment)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PickUpComment)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Phone)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Phone)
            </dd>
            <dt class="col-sm-2">
                <label asp-for="Status"></label>
            </dt>
            <dd class="col-sm-10">
                <select asp-for="Status"
                        asp-items="Html.GetEnumSelectList<Status>()"
                        onchange="showButton();">
                    <option>Wybiesz status ...</option>
                </select>
                <button class="btn btn-info" id="statusButton" style="visibility:hidden">Zapisz</button>
            </dd>
        </dl>
    </form>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="List" asp-controller="Donation">Powrót do listy</a>
</div>

<script src="~/js/status.js" type="text/javascript"></script>
