@model EditUserViewModel
@inject RoleManager<IdentityRole<int>> RoleManager
@inject UserManager<User> UserManager
@inject Charity.Mvc.Services.Interfaces.IAdminService AdminService

@{ 
    Layout = "_AppLayout";
}

    <div class="tm-col col-12">
        <div class="bg-white tm-block">
            <div class="row ">
                <div class="col-12">
                    <h2 class="tm-block-title">Edycja użytkownika</h2>
                </div>
            </div>
            <div class="row">
                <div asp-validation-summary="All" class="text-danger col-12"></div>
                <span class="text-info col-12">@ViewBag.Status</span>
                <div class="col-12">
                    <form asp-action="Edit" asp-controller="Account" class="tm-signup-form">
                        <input type="hidden" asp-for="Id" />
                        <div class="row">
                            <div class="form-group col-6">
                                <label asp-for="Name" placeholde="Podaj imię"></label>
                                <input asp-for="Name" class="form-control validate" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group col-6">
                                <label asp-for="LastName" placeholde="Podaj nazwisko"></label>
                                <input asp-for="LastName" class="form-control validate" />
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>

                        </div>

                        @if (User.IsInRole("Admin"))
                        {
                            <div class="row">
                                <div class="col col-6">
                                    <p>
                                        <a class="btn btn-outline-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                            Role
                                        </a>
                                    </p>
                                    @foreach (var role in RoleManager.Roles.ToList())
                                    {
                                        <div class="collapse" id="collapseExample">
                                            <div class="card card-body">
                                                @if (await UserManager.IsInRoleAsync(await AdminService.GetUserAsync(Model.Id), role.Name))
                                                {
                                                    <p>@role.Name</p>
                                                    var userRoles = await UserManager.GetRolesAsync(await AdminService.GetUserAsync(Model.Id));
                                                    if (userRoles.Count > 1)
                                                    {
                                                        <a type="button" asp-action="SwitchRole" asp-controller="Admin" asp-route-roleName="@role.Name" asp-route-id="@Model.Id">Usuń z roli @role.Name</a>

                                                    }

                                                }
                                                else
                                                {
                                                    <p>@role.Name</p><a type="button" asp-action="SwitchRole" asp-controller="Admin" asp-route-roleName="@role.Name" asp-route-id="@Model.Id">Dodaj do roli @role.Name</a>
                                                }
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        }

                        <div class="row">
                            <div class="col-md-4 col-sm-4">
                                <button asp-action="UserList" asp-controller="Admin" class="btn btn-primary">
                                    Wstecz
                                </button>
                            </div>
                            <div class="col-12 col-md-8 col-sm-8 tm-btn-right">
                                <button type="submit" class="btn btn-danger">
                                    Zapisz zmiany
                                </button>
                            </div>
                        </div>
                    </form>



                    <div asp-validation-summary="All" class="text-danger"></div>
                </div>
            </div>
        </div>
    </div>